<div class="col-md-offset-3" ng-app="flashcard" ng-controller="dialog">
<form class="form-inline">
    <h3>Create Questionnaire</h3>
    <br>
    <input type="text" class="form-control" ng-model="dialog.mytitle"><br>
    Last Name:<br>
    <input type="text" class="form-control" ng-model="dialog.questionnaire.description">
    <br><br>
    <button class="btn btn-primary" ng-click="questionnaire.save()">Save</button>
  </form>
</div>  

<!-- div class="col-md-offset-3"
	ng-controller="dialog">
	<form class="form-inline">
		<input type="text" class="form-control" ng-model="ctrl.mytitle"/>
		<button class="btn btn-primary" ng-click="dialog.openModal()">New</button>
	</form>
	<hr />
</div -->

